.Sidebar {
    background-color: #1E1F22;
    margin: auto;
    margin-top: 10%;

    width: 15vw;
    border-radius: 1rem;
    padding: 1rem;


    .map {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
        color: white;
        border: 1px solid #3c3c3c;
        border-radius: 100rem;
        width: fit-content;
        padding: 0.4rem;
        background-image: linear-gradient(to left bottom, #4a4848, #3d3b3c, #302f2f, #232324, #181818);
        font-size: 0.8rem;

    }

    .list {


        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        height: 100%;


        list-style: none;


        .list-item {

            display: flex;
            width: 100%;
            height: fit-content;



        }




    }


    .section {
        color: #818183;
        font-size: 0.5rem;
        font-weight: 400;

        width: 100%;
        padding: 0.4rem 0;
    }
}


.btn-cont {
    width: 100%;
    padding: 0.4rem;
    border-radius: 0.2rem;

    display: flex;


    &:hover {
        background-color: #333437;
        outline: 2px solid #3F3F42;
        color: white;

        .btn {
            color: white;

        }
    }

    .number {


        color: white;
        background-color: brown;

        flex: 1;
        width: 10px;
        text-align: center;

        font-weight: bold;

    }

}

.btn {

    color: #818183;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 0.4rem;
    height: 100%;
    font-size: 0.6rem;
    background: transparent;
    outline: none;
    border: none;


}

.current-plan {

    position: relative;
    color: white;
    border-radius: 1rem;
    margin-top: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;





}

.main-icon {
    width: fit-content;
    background-color: #333437;

    border-radius: 50%;

    padding: 0.6rem;
    position: absolute;
    top: -1.5rem;
    font-size: 0.5rem;
    border: 1px solid rgb(255, 255, 255);


}



.plan {
    padding-top: 2rem;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background: radial-gradient(circle at 50% 0%, #ff000000 10%, #2F3033 0%);
    filter: url(#round);
    text-wrap: nowrap;
    border: 1px solid rgb(82, 82, 82);


    p:first-child {
        font-size: 0.7rem;
    }

    p:nth-child(2) {
        font-size: 1.2rem;


        span:nth-child(1) {
            font-size: 1rem;


        }

        span:nth-child(2) {
            font-size: 0.6rem;
        }

    }

    p:nth-child(3) {
        color: red;
        font-size: 0.7rem;
        outline: 2px solid rgb(0, 255, 0);
    }

}